@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-bar-container {
    width: 100vw;
    background-color: rgb(157, 179, 199);
    padding: 10px 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.nav-bar-container > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

li {
    list-style: none;
    margin: 5px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

body {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: rgb(218, 228, 238);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li > a {
    text-decoration: none;
    color: white;
}

li > a:hover {
    color: gray;
}

#login-btn {
    background-color: aliceblue;
    padding: 5px 10px;
    color: black;
    text-decoration: none;
    position: absolute;
    right: 0px;
    border-radius: 5px;
}

#login-btn:hover {
    color: gray;
}