<div class="register-container">
    <h1>Register a new user</h1>
    <form class="register-form" method="POST" action="/register">
        <input type="text" name="username" placeholder="Pick a username...">
        <input type="password" name="password" placeholder="Pick a password...">
        <p>Password must be at least 10 characters long.</p>
        <input type="submit" class="submit-btn" value="Register">
    </form>  
</div>