<div class="nav-bar-container">
    <ul class="nav-bar">
        <li><i class="fas fa-code"></i></li>
        <li><a href="./">Home</a></li>
        <li><a href="./snippets">Snippets</a></li>
        <div class="log-container">
            {{#if userLoggedIn}}<p class="logged-in-user"><i class="fas fa-user"></i> {{userLoggedIn.username}}</p><a href="./logout" id="logout-btn">Log out</a>
            {{else}}
            <a href="./login" id="login-btn">Login</a>
            {{/if}}
        </div>
        
    </ul>
</div>