<div class="nav-bar-container">
    <ul class="nav-bar">
        <li><i class="fas fa-code"></i></li>
        <li><a href="/">Home</a></li>
        <li><a href="/snippets">Snippets</a></li>
        <a href="#" id="login-btn">Login</a>
    </ul>
</div>