<div class="snippets-container">
    <div class="snippets-header">
        <h1>Snippets</h1>
        {{#if userLoggedIn}}
        <a class="add-snippet" href="./snippets/new">New snippet</a>
        {{/if}}
    </div>
    <ul>
        {{#if viewData.snippets.length }}
        {{#each viewData.snippets}}
        <li>
            <div class="code-container"><pre><code>{{this.code}}</code></pre></div>
            <span class="edit-delete-icons"><a href="./snippets/{{this.id}}"><i class="fas fa-eye"></i></a></span>
        </li>
        {{/each}}
        {{else}}
        <span>There are no snippets to show here.</span>
        {{/if}}
    </ul>
</div>
