<div class="snippets-container">
    <h1>Snippets</h1>
    <ul>
        <li>
            <pre><code>&lt;p&gt;Hello, World!&lt;/p&gt;</code></pre>
            <span class="edit-delete-icons"><a href="#"><i class="fas fa-edit"></i></a><a href="#"><i class="fas fa-trash-alt"></i></a></span></li>
    </ul>
</div>
