<div class="snippets-container">
    <div class="snippets-header">
        <h1>Snippets</h1>
        <a class="add-snippet" href="/snippets/new">New snippet</a>
    </div>
    <ul>
        <li>
            <pre><code>&lt;p&gt;Hello, World!&lt;/p&gt;</code></pre>
            <span class="edit-delete-icons"><a href="#"><i class="fas fa-edit"></i></a><a href="#"><i class="fas fa-trash-alt"></i></a></span></li>
    </ul>
</div>
