<div class="snippets-container">
    <div class="snippets-header">
        <h1>Snippets</h1>
        <a class="add-snippet" href="/snippets/new">New snippet</a>
    </div>
    <ul>
        {{#if viewData.snippets.length }}
        {{#each viewData.snippets}}
        <li>
            <pre><code>{{this.code}}</code></pre>
            <span class="edit-delete-icons"><a href="/snippets/{{this.id}}"><i class="fas fa-eye"></i></a><a href="#"><i class="fas fa-edit"></i></a><a href="#"><i class="fas fa-trash-alt"></i></a></span>
        </li>
        {{/each}}
        {{else}}
        <span>There are no snippets to show here.</span>
        {{/if}}
    </ul>
</div>
