<div class="snippets-container">
    <h1>Create a new snippet</h1>
    <div class="form-container">
        <form class="new-snippet-form" method="POST" action="./create">
            <textarea name="code" cols="30" rows="10" autofocus required></textarea>
            <input type="submit" class="submit-btn" value="Create">
        </form>
    </div>
</div>