<div class="snippets-container">
    <h1>Snippet viewer</h1>
    <div class="view-container">
        <div class="snippet-view">
            <pre><code>{{viewData.code}}</code></pre>
        </div>
        <p class="creator-name">Snippet creator: {{viewData.creator.name}}</p>
        {{#if viewData.isCreator}}
        <a href="/snippets/{{viewData.id}}/edit" class="submit-btn">Edit</a>
        <a href="/snippets/{{viewData.id}}/remove" class="delete-btn">Delete</a>
        {{/if}}
    </div>
</div>