<div class="login-container">
    <form class="login-form" method="POST" action="/login">
        <input type="text" name="username" placeholder="Enter username...">
        <input type="password" name="password" placeholder="Enter password...">
        <input type="submit" class="submit-btn" value="Login">
    </form>  
</div>
<div class="register-question-container">
    <span class="register-span">Don't have a user?</span><a href="/register" class="register-btn">Register</a>
</div>