<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment B1 - CRUD Snippets</title>
    <script src="https://kit.fontawesome.com/a16ff294a3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>navbar}}
    {{{body}}}
</body>
</html>